@model IEnumerable<HahaVille.Models.GameInfo>

@{
    ViewBag.Title = "HahaVille";
}

<div class="row">
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    @{ var nCount = 0;}
    @foreach (var game in Model.OrderBy(x => x.CategoryId).ThenBy(x => x.Id))
    {
        nCount++;
        if (nCount % 4 == 0)
        {
            <div class="col-md-3 col-sm-6 hvgames">
                <div class="thumbnail" style="min-height:480px">
                    <a href="@("/games/" + game.Name.Replace(" ", "-"))">
                        <img width="160" height="180" src='@(game.Thumbnail)' />
                    </a>
                    <div class="caption">
                        <h3 style="height:53px">@game.Name</h3>
                        <p style="height:120px">@Html.Raw(game.Description)</p>
                        <p>
                            <br>
                            <a href="@("/games/" + game.Name.Replace(" ", "-"))" class="btn btn-success btn-block">PLAY</a>
                        </p>
                    </div>
                </div>
            </div>
            @Html.Raw("</div>")
        }
        else if (nCount % 4 == 1)
        {
            @Html.Raw("<h3>" + game.CategoryName + "</h3>")
            @Html.Raw("<div class='row text-center'>")

            <div class="col-md-3 col-sm-6 hvgames">
                <div class="thumbnail" style="min-height:480px">
                    <a href="@("/games/" + game.Name.Replace(" ", "-"))">
                        <img width="160" height="180" src='@(game.Thumbnail)' />
                    </a>
                    <div class="caption">
                        <h3 style="height:53px">@game.Name</h3>
                        <p style="height:120px">@Html.Raw(game.Description)</p>
                        <p>
                            <br>
                            <a href="@("/games/" + game.Name.Replace(" ", "-"))" class="btn btn-success btn-block">PLAY</a>
                        </p>
                    </div>
                </div>
            </div>
        }
        else if (nCount % 4 == 2)
        {
            <div class="col-md-3 col-sm-6 hvgames">
                <div class="thumbnail" style="min-height:480px">
                    <a href="@("/games/" + game.Name.Replace(" ", "-"))">
                        <img width="160" height="180" src='@(game.Thumbnail)' />
                    </a>
                    <div class="caption">
                        <h3 style="height:53px">@game.Name</h3>
                        <p style="height:120px">@Html.Raw(game.Description)</p>
                        <p>
                            <br>
                            <a href="@("/games/" + game.Name.Replace(" ","-"))" class="btn btn-success btn-block">PLAY</a>
                        </p>
                    </div>
                </div>
            </div>
        }
        else if (nCount % 4 == 3)
        {
            <div class="col-md-3 col-sm-6 hvgames">
                <div class="thumbnail" style="min-height:480px">
                    <a href="@("/games/" + game.Name.Replace(" ", "-"))">
                        <img width="160" height="180" src='@(game.Thumbnail)' />
                    </a>
                    <div class="caption">
                        <h3 style="height:53px">@game.Name</h3>
                        <p style="height:120px">@Html.Raw(game.Description)</p>
                        <p>
                            <br>
                            <a href="@("/games/" + game.Name.Replace(" ", "-"))" class="btn btn-success btn-block">PLAY</a>
                        </p>
                    </div>
                </div>
            </div>
        }

    }
</div>

@*http://www.jamieweb.net/ refer here *@