@model HahaVille.Models.GameInfo
@{
    ViewBag.Title = "Game Details :" + Model.Title;
    ViewBag.Description = "Game Details :" + StringHtmlExtensions.TruncateHtml(Model.Description,150);
    ViewBag.Keyword = Model.Keyword;
    ViewBag.ImageURL = Model.Thumbnail;
    ViewBag.PageURL = Url.AbsoluteContent("/games/details/" + Model.Name.Replace(" ", "-"));
}

<section style="margin-top:30px;text-align: center;">
    <div style="margin: 0px auto;">
        <div id="gameImage"style="max-width: 932px;margin: 0px auto;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive - Game Details -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7913107103038018"
                 data-ad-slot="7966535587"
                 data-ad-format="auto"></ins>
            <script>
(adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div><br />
        <div id="gameImage" style="max-width: 466px;margin: 0px auto;">
            <img src=@Model.Thumbnail alt="@Model.Name" title="@Model.Name" style='width:25%;object-fit: contain' />
        </div>
        <div id="gameTitle" style="max-width: 600px;margin: 0px auto;">
            <h2>@Model.Name</h2>
            <p>
              @Html.Raw(Model.Description)
            </p>
            <a href="@("/games/play/" + Model.Name.Replace(" ","-"))" class="btn btn-success btn-block">PLAY</a>
        </div>
    </div>
   
</section>

