<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Free HTML5 Games</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HahaVille Mini Games", "Index", "Home", null, new { @class = "navbar-brand" })</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/games/category/adventure">Adventure</a></li>
                            <li><a href="~/games/category/shooting">Shooting</a></li>
                            <li><a href="~/games/category/puzzle">Puzzle</a></li>
                            <li><a href="~/games/category/sport">Sport</a></li>
                            <li><a href="~/games/category/arcade">Arcade</a></li>
                            <li><a href="~/games/category/girl">Girl</a></li> 
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
               
                <div class="span12">
                    <form id="custom-search-form" class="form-search form-horizontal pull-right">
                        <div class="">
                            <input type="text" class="search-query " placeholder="Search">
                            <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>


    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum dignissim mattis. Mauris eget ante lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum non nisl rutrum, ullamcorper lorem ac, aliquet nisl. Etiam nisl est, condimentum eu imperdiet interdum, scelerisque a metus. Vestibulum eu convallis libero. Nam pharetra porta turpis id pretium. Sed ac bibendum arcu. Proin at lectus justo.

                Nulla scelerisque mi vel eleifend interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis velit pharetra nulla malesuada faucibus. Quisque condimentum enim et faucibus tempus. Ut blandit nisi at nisi blandit sodales. Aenean porttitor, enim in rhoncus lobortis, felis ipsum cursus urna, at lobortis odio leo non nibh. Sed tristique nisl arcu, eget pellentesque ipsum vulputate nec. Cras pharetra orci eu mauris ultricies, at tempor tortor volutpat. Ut in ligula odio. Proin lacinia dolor non lectus sagittis volutpat. Integer sit amet lectus lobortis, bibendum nibh id, fringilla velit.

                Donec tincidunt nibh eu purus tempus, a hendrerit nisi fringilla. Morbi mattis nibh nec accumsan porta. Phasellus blandit facilisis ligula vitae mollis. Aliquam erat volutpat. Donec at semper ligula. Fusce eleifend metus at lectus lobortis, in blandit tellus commodo. Curabitur imperdiet justo nec porttitor accumsan. Sed sollicitudin vulputate sem et congue. Etiam euismod lobortis nisl sed elementum. Sed id mattis ante. Curabitur pellentesque eros ipsum, vitae faucibus leo mattis eu. Integer at mattis leo. Aliquam a mi sit amet sem imperdiet cursus et sed massa. Maecenas venenatis turpis quis ultrices porta. Quisque nec augue non libero aliquet pellentesque.

                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ac ex eget est fermentum efficitur quis a ex. Mauris tortor lectus, pretium vitae vehicula vel, tristique suscipit mauris. Nam nibh sem, sollicitudin sed metus in, pharetra cursus urna. Praesent convallis ex massa, quis efficitur neque porttitor id. Sed at consectetur nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ligula ligula, semper quis dapibus a, luctus non erat. Praesent bibendum at orci placerat ultrices.

                Sed nec ultrices nisi. Aenean et urna vel purus convallis porttitor. Etiam metus arcu, aliquam nec nibh eleifend, congue hendrerit magna. Curabitur venenatis lacinia leo, nec porttitor lacus ullamcorper sit amet. Quisque cursus euismod metus, pretium vestibulum tortor scelerisque sit amet. Etiam rhoncus eu ex sed ullamcorper. Cras eget justo vel tortor rhoncus convallis. Phasellus et mi maximus, porttitor lectus eu, tincidunt ante. Nam scelerisque, nisl in bibendum tristique, massa nibh rhoncus diam, nec aliquam metus erat non turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac sem elit. Sed laoreet mollis dignissim. Nam interdum libero ac hendrerit sodales. Morbi tellus nisl, vestibulum eget hendrerit ac, dictum id mi. Maecenas vitae ligula justo.
            </div>
            <div class="col-xs-12 col-sm-8">
                @RenderBody()
            </div>
            <div class="col-xs-12 col-sm-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum dignissim mattis. Mauris eget ante lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum non nisl rutrum, ullamcorper lorem ac, aliquet nisl. Etiam nisl est, condimentum eu imperdiet interdum, scelerisque a metus. Vestibulum eu convallis libero. Nam pharetra porta turpis id pretium. Sed ac bibendum arcu. Proin at lectus justo.

                Nulla scelerisque mi vel eleifend interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis velit pharetra nulla malesuada faucibus. Quisque condimentum enim et faucibus tempus. Ut blandit nisi at nisi blandit sodales. Aenean porttitor, enim in rhoncus lobortis, felis ipsum cursus urna, at lobortis odio leo non nibh. Sed tristique nisl arcu, eget pellentesque ipsum vulputate nec. Cras pharetra orci eu mauris ultricies, at tempor tortor volutpat. Ut in ligula odio. Proin lacinia dolor non lectus sagittis volutpat. Integer sit amet lectus lobortis, bibendum nibh id, fringilla velit.

                Donec tincidunt nibh eu purus tempus, a hendrerit nisi fringilla. Morbi mattis nibh nec accumsan porta. Phasellus blandit facilisis ligula vitae mollis. Aliquam erat volutpat. Donec at semper ligula. Fusce eleifend metus at lectus lobortis, in blandit tellus commodo. Curabitur imperdiet justo nec porttitor accumsan. Sed sollicitudin vulputate sem et congue. Etiam euismod lobortis nisl sed elementum. Sed id mattis ante. Curabitur pellentesque eros ipsum, vitae faucibus leo mattis eu. Integer at mattis leo. Aliquam a mi sit amet sem imperdiet cursus et sed massa. Maecenas venenatis turpis quis ultrices porta. Quisque nec augue non libero aliquet pellentesque.

                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ac ex eget est fermentum efficitur quis a ex. Mauris tortor lectus, pretium vitae vehicula vel, tristique suscipit mauris. Nam nibh sem, sollicitudin sed metus in, pharetra cursus urna. Praesent convallis ex massa, quis efficitur neque porttitor id. Sed at consectetur nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ligula ligula, semper quis dapibus a, luctus non erat. Praesent bibendum at orci placerat ultrices.

                Sed nec ultrices nisi. Aenean et urna vel purus convallis porttitor. Etiam metus arcu, aliquam nec nibh eleifend, congue hendrerit magna. Curabitur venenatis lacinia leo, nec porttitor lacus ullamcorper sit amet. Quisque cursus euismod metus, pretium vestibulum tortor scelerisque sit amet. Etiam rhoncus eu ex sed ullamcorper. Cras eget justo vel tortor rhoncus convallis. Phasellus et mi maximus, porttitor lectus eu, tincidunt ante. Nam scelerisque, nisl in bibendum tristique, massa nibh rhoncus diam, nec aliquam metus erat non turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac sem elit. Sed laoreet mollis dignissim. Nam interdum libero ac hendrerit sodales. Morbi tellus nisl, vestibulum eget hendrerit ac, dictum id mi. Maecenas vitae ligula justo.
            </div>
        </div>
      
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hahaville Mini Games </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("JavaScript", required: false)
    @RenderSection("CSS", required: false)
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
</body>
</html>
